- hosts: frontend,backend,elk,zabbix,control
  become: yes
  gather_facts: yes
  tasks:
    - name: Remove Grafana apt repository on Zabbix host
      apt_repository:
        repo: "deb https://apt.grafana.com stable main"
        state: absent
      when: inventory_hostname in groups['zabbix']
      tags: update

    - name: Remove Grafana list file on Zabbix host
      file:
        path: /etc/apt/sources.list.d/grafana.list
        state: absent
      when: inventory_hostname in groups['zabbix']
      tags: update

    - name: Update and upgrade Ubuntu packages
      apt:
        update_cache: yes
        upgrade: dist
        cache_valid_time: 3600
      when: not ansible_check_mode
      tags: update

- hosts: frontend
  become: yes
  roles:
    - nginx
  tags: frontend

- hosts: backend
  become: yes
  roles:
    - php-fpm
    - backend-nginx
    - wordpress
  tags: backend

- hosts: database
  become: yes
  roles:
    - wordpress-db
  tags: database

- hosts: elk
  become: yes
  roles:
    - elk
  tags: elk

- hosts: zabbix
  become: yes
  roles:
    - zabbix
  tags: zabbix

- hosts: frontend,backend,elk,control,zabbix
  become: yes
  roles:
    - zabbix-agent
  tags: zabbix-agent
