- name: Get WordPress salts from API
  uri:
    url: https://api.wordpress.org/secret-key/1.1/salt/
    return_content: yes
  register: wp_salts_response
  delegate_to: localhost
  run_once: yes
  tags: wordpress

- name: Configure wp-config.php with Patroni cluster connection
  template:
    src: wp-config.php.j2
    dest: /var/www/wordpress/wp-config.php
  vars:
    wp_salts_content: "{{ (wp_salts_response.content | default('')) | string }}"
  tags: wordpress

- name: Set permissions on wp-config.php
  file:
    path: /var/www/wordpress/wp-config.php
    owner: www-data
    group: www-data
    mode: '0640'
  tags: wordpress

- name: Download pg4wp (PostgreSQL for WordPress)
  get_url:
    url: https://github.com/kevinoid/postgresql-for-wordpress/archive/refs/heads/main.tar.gz
    dest: /tmp/pg4wp-master.tar.gz
    mode: '0644'
  tags: wordpress

- name: Extract pg4wp archive
  unarchive:
    src: /tmp/pg4wp-master.tar.gz
    dest: /var/www/wordpress/wp-content/
    remote_src: yes
    creates: /var/www/wordpress/wp-content/postgresql-for-wordpress-master
  tags: wordpress

- name: Install pg4wp db.php drop-in
  copy:
    src: /var/www/wordpress/wp-content/postgresql-for-wordpress-master/pg4wp/db.php
    dest: /var/www/wordpress/wp-content/db.php
    owner: www-data
    group: www-data
    mode: '0644'
    remote_src: yes
  tags: wordpress

- name: Ensure WordPress debug log file exists
  file:
    path: /var/www/wordpress/wp-content/debug.log
    state: touch
    owner: www-data
    group: www-data
    mode: '0640'
  tags: wordpress
