- name: Install Java
  apt:
    name: openjdk-11-jdk
    state: present

- name: Add Elastic GPG key
  apt_key:
    url: https://artifacts.elastic.co/GPG-KEY-elasticsearch
    state: present

- name: Add Elastic repository
  apt_repository:
    repo: "deb https://artifacts.elastic.co/packages/7.x/apt stable main"
    state: present

- name: Install ELK stack
  apt:
    name:
      - elasticsearch
      - logstash
      - kibana
    state: present
